* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
  height: 100%;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 1.6;
    background-color:rgb(80, 171, 255);
    background-image: linear-gradient(to bottom right, rgb(75, 204, 255), rgb(5, 142, 255));
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  
  header {
    background: #dfdfdfec;
    padding: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
  }
  
  .grayscale { filter: grayscale(100%); }

  .container {
    margin: auto;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #dfdfdfec;
    border-radius: 20px;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  .success {
    background: rgb(21, 99, 245);
    color: #fff;
    padding: 5px;
    margin: 5px;
  }